@use "../../utilites/variables" as *;
@use "../../utilites/mixins" as *;

.footer {
  @include flex(column, center, center, 2.4rem);
  padding: 10.04rem 24rem 6.4rem 24rem;
  background-color: $black;
}

.footer-nav {
  width: 100%;
  @include flex(row, space-between, center, null);
}

.footer-logo {
  @include flex(row, null, center, 1rem);
  cursor: pointer;

  p {
    @include font("Clash Display", 2rem, 500, 100%, null, $white);
    margin-bottom: -0.5rem;
  }
}

.footer-nav-list {
  @include flex(row, space-evenly, center, null);

  a {
    padding: 1.2rem;
  }

  img {
    display: block;
    width: 2rem;
    height: 2rem;
  }
}

.footer-rights {
  width: 100%;
  @include flex(row, space-between, center, null);

  p, a {
    @include font(null, $regular-xs, 400, 144%, null, $white-opacity-60);
  }
}