.strategic {
  background: #C0DDFF;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 1.6rem;
  margin: 0 auto;
  padding: 1.6rem 24rem 9rem;
}

.strategic-text {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 10.4rem;
  border-radius: 4rem;
  background: transparent;
}
.strategic-text h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 104%;
  letter-spacing: -0.2rem;
  color: #000000;
  max-width: 64rem;
}
.strategic-text span {
  color: #39608E;
}

.strategic-methodology {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
  padding: 6.4rem 5.6rem;
  border-radius: 4rem;
  background: #39608E;
}

.strategic-workflow {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
  padding: 6.4rem 5.6rem;
  border-radius: 4rem;
  background: #E2EEFC;
}

.methodology-text,
.workflow-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.6rem;
  max-width: 35rem;
}

.methodology-text h4 {
  font-size: 44px;
  font-weight: 600;
  line-height: 104%;
  letter-spacing: -0.2rem;
  color: #FFFFFF;
}

.methodology-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 144%;
  color: rgba(255, 255, 255, 0.6);
}

.methodology-image {
  padding: 4rem 2.8rem;
}

.workflow-image {
  padding: 2.7rem;
}

.workflow-text h4 {
  font-size: 44px;
  font-weight: 600;
  line-height: 104%;
  letter-spacing: -0.2rem;
  color: #000000;
}

.workflow-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 144%;
  color: rgba(0, 0, 0, 0.6);
}

.strategic-results {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5.6rem;
  padding: 6.4rem 5.6rem;
  border-radius: 4rem;
  background: #FFFFFF;
}

.results-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  padding: 1.8rem;
  border-radius: 5rem;
  background: #39608E;
}

.results-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.4rem;
}
.results-text h3 {
  font-size: 56px;
  font-weight: 600;
  line-height: 104%;
  letter-spacing: -0.2rem;
  color: #000000;
}
.results-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 144%;
  color: rgba(0, 0, 0, 0.6);
}

.results-image {
  padding: 2.4rem 0;
}

@media (max-width: 1240px) and (min-width: 600px) {
  .strategic {
    padding: 1.6rem 4.8rem 9rem;
  }
  .strategic-methodology,
  .strategic-workflow {
    grid-column: span 2;
  }
  .strategic-text {
    padding: 8rem 6.4rem;
  }
  .strategic-text h2 {
    font-size: 52px;
    max-width: 40rem;
  }
  .methodology-text h4,
  .workflow-text h4 {
    font-size: 40px;
  }
  .methodology-image,
  .workflow-image {
    padding: 5.8rem 0;
  }
  .methodology-image img,
  .workflow-image img {
    width: 42rem;
  }
  .strategic-results {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3.2rem;
    padding: 6.4rem 5.6rem;
  }
  .results-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 2.4rem;
    max-width: 40rem;
  }
  .results-text h3 {
    font-size: 48px;
  }
  .results-image {
    padding: 3.4rem 0;
  }
  .results-image img {
    width: 42rem;
  }
}
@media (max-width: 600px) and (min-width: 500px) {
  .strategic {
    padding: 1.6rem 4.8rem 9rem;
  }
  .strategic-methodology,
  .strategic-workflow {
    grid-column: span 2;
  }
  .strategic-text {
    padding: 8rem 6.4rem;
  }
  .strategic-text h2 {
    font-size: 52px;
    max-width: 40rem;
  }
  .methodology-text h4,
  .workflow-text h4 {
    font-size: 40px;
  }
  .methodology-image img,
  .workflow-image img {
    width: 29rem;
  }
  .strategic-results {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3.2rem;
    padding: 6.4rem 5.6rem;
  }
  .results-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 2.4rem;
    max-width: 40rem;
  }
  .results-text h3 {
    font-size: 48px;
  }
  .results-image {
    padding: 3.4rem 0;
  }
  .results-image img {
    width: 29rem;
  }
}
@media (max-width: 500px) and (min-width: 393px) {
  .strategic {
    padding: 1.6rem 2.4rem 9rem;
  }
  .strategic-methodology,
  .strategic-workflow {
    grid-column: span 2;
  }
  .strategic-text {
    padding: 5.6rem 2.4rem;
  }
  .strategic-text h2 {
    font-size: 30px;
    max-width: 25rem;
  }
  .methodology-text h4,
  .workflow-text h4 {
    font-size: 24px;
    max-width: 20rem;
  }
  .methodology-image img,
  .workflow-image img {
    width: 29rem;
  }
  .methodology-image {
    padding: 4.2rem 0;
  }
  .workflow-image {
    padding: 2.4rem 0;
  }
  .strategic-methodology,
  .strategic-workflow,
  .strategic-results {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3.2rem;
    padding: 4rem 2.4rem;
  }
  .results-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 2.4rem;
    max-width: 40rem;
  }
  .results-text h3 {
    font-size: 28px;
  }
  .results-image {
    padding: 3.4rem 0;
  }
  .results-image img {
    width: 29rem;
  }
}
@media (max-width: 392px) and (min-width: 300px) {
  .strategic {
    padding: 1.6rem 2.4rem 9rem;
  }
  .strategic-methodology,
  .strategic-workflow {
    grid-column: span 2;
  }
  .strategic-text {
    padding: 5.6rem 2.4rem;
  }
  .strategic-text h2 {
    font-size: 30px;
    max-width: 25rem;
  }
  .methodology-text h4,
  .workflow-text h4 {
    font-size: 24px;
    max-width: 20rem;
  }
  .methodology-image img,
  .workflow-image img,
  .results-image img {
    width: 20rem;
  }
  .methodology-image {
    padding: 4.2rem 0;
  }
  .workflow-image {
    padding: 2.4rem 0;
  }
  .strategic-methodology,
  .strategic-workflow,
  .strategic-results {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3.2rem;
    padding: 4rem 2.4rem;
  }
  .results-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 2.4rem;
    max-width: 40rem;
  }
  .results-text h3 {
    font-size: 28px;
  }
  .results-image {
    padding: 3.4rem 0;
  }
}/*# sourceMappingURL=strategic.css.map */