@use "../../utilites/variables" as *;
@use "../../utilites/mixins" as *;

.questions {
  background: $black;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
  margin: 0 auto;
  padding: 1.6rem 24rem 9rem;
}

.questions-text {
  @include flex(row, start, center, null);
  padding: 10.04rem;

  h2 {
    @include font(null, $h2-desctop, 600, 104%, -1.6rem, $white);
    max-width: 64rem;
  }

  span {
    color: $white-opacity-60;
  }
}

.questions-container {
  @include flex(column, center, center, 1.6rem);
}

.questions-item {
  width: 100%;
  @include flex(column, space-between, null, 0);
  padding: 2.8rem 4rem;
  background: $white-opacity-8;
  border-radius: 4rem;
  border: 0.1rem solid $white-opacity-12;
  transition: gap 0.3s ease;
}

.questions-item.active {
  gap: 1.6rem;
}

.questions-item-question {
  @include flex(row, space-between, center, 4rem);

  h3 {
    @include font(null, $semibold-l, 600, 144%, null, $white);
  }
}

.questions-item-arrow {
  @include flex(row, center, center, null);
  width: 4.4rem;
  height: 4.4rem;
  padding: 1.4rem;
  background: $accent;
  border-radius: 50%;
  cursor: pointer;
}

.questions-item-answer {
  @include font(null, $regular-l, 400, 144%, -0.5%, $white-opacity-60);
  max-height: 0;
  overflow: hidden;
  max-width: 72rem;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.questions-item-arrow img {
  transition: transform 0.3s ease;
}