@use "../../utilites/variables" as *;
@use "../../utilites/mixins" as *;

.contact {
  background: $black;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
  margin: 0 auto;
  padding: 1.6rem 24rem 9rem;
}

.contact-text {
  @include flex(row, start, center, null);
  padding: 10.04rem;

  h2 {
    @include font(null, $h2-desctop, 600, 104%, null, $white);
    max-width: 64rem;
  }

  span {
    color: $white-opacity-60;
  }
}

.contact-wrapper {
  @include flex(row, null, center, 1.6rem);
}

.contact-form {
  @include flex(row, null, stretch, 1.6rem);
  min-height: 54.9rem;
}

.contact-email,
.contact-booking {
  width: 50%;
  @include flex(column, space-between, flex-start, 4rem);
  padding: 5.6rem 5.6rem 6.4rem 5.6rem;

  h5 {
    @include font(null, $h5-desctop, 600, 104%, null, $white);
  }

  span {
    color: $white-opacity-60;
  }
}

.form-wrapper {
  @include flex(column, space-between, flex-start, 4rem);
  padding: 5.6rem 5.6rem 6.4rem 5.6rem;
  background: $white;
  border-radius: 4rem;
  width: 50%;
  height: 100%;
}

.contact-form img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 4rem;
}

.form-info {
  @include flex(column, space-between, flex-start, 1.2rem);
  width: 100%;

  h5 {
    @include font(null, $h5-desctop, 600, 104%, null, $black);
  }

  p {
    @include font(null, $regular-l, 400, 144%, -0.5%, $black-opacity-60);
  }
}

form {
  width: 100%;
  @include flex(column, space-between, flex-start, 1.6rem);
}

input {
  width: 100%;
  padding: 1.6rem 2.4rem;
  border: 0.1rem solid $black-opacity-20;
  border-radius: 1.2rem;
  outline: none;
  @include font(null, $regular-l, 400, 144%, -0.5%, $black-opacity-50);
}

input::placeholder {
  color: $black-opacity-20;
}

input:focus {
  border: 0.15rem solid $blue-light-1;
  box-shadow: 0 0 0.8rem $accent;
  transition: all 0.3s ease;
}

.form-button {
  @include font(null, $semibold-l, 600, 144%, -1%, $black);
  @include button($accent, none, 10rem, 1.8rem 3.2rem, null, pointer);
  transition: all 0.3s ease;

  &:hover {
    background: $accent-hover;
  }
}

@media (max-width: 1240px) and (min-width: 834px) {
  .contact {
    padding: 1.6rem 4.8rem 9rem;
  }

  .contact-text {
    padding: 8rem 6.4rem;

    h2 {
      @include font(null, $h2-tablet, 600, 104%, null, $white);
      max-width: 52rem;
    }
  }

  .contact-form {
    @include flex(column, null, stretch, 1.6rem);
  }

  .contact-email,
  .contact-booking {
    width: 50%;
    padding: 5.6rem 4rem 6.4rem 4rem;

    h5 {
      @include font(null, $h5-tablet, 600, 104%, null, $white);
    }
  }

  .form-wrapper {
    width: 100%;
  }

  .form-info {
    h5 {
      @include font(null, $h5-tablet, 600, 104%, null, $black);
    }
  }

  .contact-form img {
    width: 100%;
    height: 68rem;
  }
}

@media (max-width: 833px) and (min-width: 393px) {
  .contact {
    padding: 1.6rem 2.4rem 9rem;
  }

  .contact-text {
    @include flex(row, start, center, null);
    padding: 5.6rem 2.4rem;

    h2 {
      @include font(null, $h2-mobile, 600, 104%, null, $white);
      max-width: 30rem;
    }
  }

  .contact-wrapper {
    @include flex(column, null, center, 1.6rem);
  }

  .contact-email,
  .contact-booking {
    width: 100%;
    @include flex(column, space-between, flex-start, 2.4rem);
    padding: 3.2rem 2.4rem;

    h5 {
      @include font(null, $h5-mobile, 600, 104%, null, $white);
    }
  }

  .contact-form {
    @include flex(column, null, stretch, 1.6rem);
    min-height: 101rem;
  }

  .contact-form img {
    width: 100%;
    height: 48rem;
    object-fit: cover;
    border-radius: 4rem;
  }

  .form-wrapper {
    width: 100%;
    height: auto;
    padding: 3.2rem 2.4rem 4rem 2.4rem;
  }

  .form-info {
    h5 {
      @include font(null, $h5-mobile, 600, 104%, null, $black);
    }
  }
}

@media (max-width: 392px) and (min-width: 300px) {
  .contact {
    padding: 1.6rem 2.4rem 9rem;
  }

  .contact-text {
    @include flex(row, start, center, null);
    padding: 5.6rem 2.4rem;

    h2 {
      @include font(null, $h2-mobile, 600, 104%, null, $white);
      max-width: 30rem;
    }
  }

  .contact-wrapper {
    @include flex(column, null, center, 1.6rem);
  }

  .contact-email,
  .contact-booking {
    width: 100%;
    @include flex(column, space-between, flex-start, 2.4rem);
    padding: 3.2rem 2.4rem;

    h5 {
      @include font(null, $h5-mobile, 600, 104%, null, $white);
    }
  }

  .contact-form {
    @include flex(column, null, stretch, 1.6rem);
    min-height: 101rem;
  }

  .contact-form img {
    width: 100%;
    height: 48rem;
    object-fit: cover;
    border-radius: 4rem;
  }

  .form-wrapper {
    width: 100%;
    height: auto;
    padding: 3.2rem 2.4rem 4rem 2.4rem;
  }

  .form-info {
    h5 {
      @include font(null, $h5-mobile, 600, 104%, null, $black);
    }
  }
}