@use "../../utilites/variables" as *;

.contact {
  background: $black;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
  margin: 0 auto;
  padding: 1.6rem 24rem 9rem;
}

.contact-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10.04rem;

  h2 {
    font-size: $h2-desctop;
    font-weight: 600;
    line-height: 104%;
    letter-spacing: -1.6%;
    color: $white;
    max-width: 64rem;
  }

  span {
    color: $white-opacity-60;
  }
}

.contact-wrapper{
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.contact-form {
  display: flex;
  align-items: stretch;
  gap: 1.6rem;
  min-height: 54.9rem;
}

.contact-email,
.contact-booking {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
  padding: 5.6rem 5.6rem 6.4rem 5.6rem;

  h5 {
    font-size: $h5-desctop;
    font-weight: 600;
    line-height: 104%;
    letter-spacing: -1.6%;
    color: $white;
  }

  span {
    color: $white-opacity-60;
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
  padding: 5.6rem 5.6rem 6.4rem 5.6rem;
  background: $white;
  border-radius: 4rem;
  width: 50%;
  height: 100%;
}

.contact-form img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 4rem;
}

.form-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.2rem;
  width: 100%;

  h5 {
    font-size: $h5-desctop;
    font-weight: 600;
    line-height: 104%;
    letter-spacing: -1.6%;
    color: $black;
  }

  p {
    font-size: $regular-l;
    font-weight: 400;
    line-height: 144%;
    letter-spacing: -0.5%;
    color: $black-opacity-60;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.6rem;
}

input {
  width: 100%;
  padding: 1.6rem 2.4rem;
  border: 0.1rem solid $black-opacity-20;
  border-radius: 1.2rem;
  outline: none;
  font-size: $regular-l;
  font-weight: 400;
  line-height: 144%;
  letter-spacing: -0.5%;
  color: $black-opacity-50;
}

input::placeholder {
  color: $black-opacity-20;
}
input:focus {
  border: 0.15rem solid $blue-light-1;
  box-shadow: 0 0 0.8rem $accent;
  transition: all 0.3s ease;
}

.form-button {
  background: $accent;
  border-radius: 10rem;
  padding: 1.8rem 3.2rem;
  font-size: $semibold-l;
  font-weight: 600;
  line-height: 144%;
  letter-spacing: -1%;
  color: $black;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: $accent-hover;
  }
}