@mixin flex($direction: null, $justify: null, $align: null, $gap: null) {
  display: flex;

  @if $direction != null {
    flex-direction: $direction;
  }

  @if $justify != null {
    justify-content: $justify;
  }

  @if $align != null {
    align-items: $align;
  }

  @if $gap != null {
    gap: $gap;
  }
}

@mixin font($family: null, $size: null, $weight: null, $line-height: null, $letter-spacing: null, $color: null) {
  @if $family != null {
    font-family: $family;
  }

  @if $size != null {
    font-size: $size;
  }

  @if $weight != null {
    font-weight: $weight;
  }

  @if $line-height != null {
    line-height: $line-height;
  }

  @if $letter-spacing != null {
    letter-spacing: $letter-spacing;
  }

  @if $color != null {
    color: $color;
  }
}

@mixin button($background: null, $border: null, $border-radius: null, $padding: null, $color: null, $cursor: null){
  @if $background != null {
    background: $background;
  }

  @if $border != null {
    border: $border;
  }

  @if $border-radius != null {
    border-radius: $border-radius;
  }

  @if $padding != null {
    padding: $padding;
  }

  @if $color != null {
    color: $color;
  }

  @if $cursor != null {
    cursor: $cursor;
  }
}