@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;

  @if $justify != null {
    justify-content: $justify;
  }

  @if $align != null {
    align-items: $align;
  }

  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin font(
  $family: null,
  $size: null,
  $weight: null,
  $line-height: null,
  $letter-spacing: null,
  $color: null
) {
  @if $family != null {
    font-family: $family;
  }
  
  @if $size != null {
    font-size: $size;
  }

  @if $weight != null {
    font-weight: $weight;
  }

  @if $line-height != null {
    line-height: $line-height;
  }

  @if $letter-spacing != null {
    letter-spacing: $letter-spacing;
  }

  @if $color != null {
    color: $color;
  }
}
