// Fonts desctop
$h1-desctop: 72px;
$h2-desctop: 64px;
$h3-desctop: 56px;
$h4-desctop: 44px;
$h5-desctop: 32px;
$large-heading-desctop: 80px;

// Fonts tablet
$h1-tablet: 56px;
$h2-tablet: 52px;
$h3-tablet: 48px;
$h4-tablet: 40px;
$h5-tablet: 28px;
$large-heading-tablet: 64px;

// Fonts mobile
$h1-mobile: 32px;
$h2-mobile: 30px;
$h3-mobile: 28px;
$h4-mobile: 24px;
$h5-mobile: 24px;
$large-heading-mobile: 44px;

// Common sizes
$regular-l: 18px;
$regular-s: 14px;
$regular-xs: 12px;

$semibold-xl: 32px;
$semibold-l: 18px;
$semibold-s: 14px;

// Colors
$black: #000000;
$white: #FFFFFF;
$accent: #2FE784;
$accent-hover: #4DFFA2;
$accent-opacity-12: rgba(47, 231, 132, 0.12);
$accent-opacity-18: rgba(47, 231, 132, 0.18);
$white-opacity-60: rgba(255, 255, 255, 0.6);
$white-opacity-40: rgba(255, 255, 255, 0.4);
$white-opacity-16: rgba(255, 255, 255, 0.16);
$white-opacity-12: rgba(255, 255, 255, 0.12);
$white-opacity-8: rgba(255, 255, 255, 0.08);
$black-opacity-60: rgba(0, 0, 0, 0.6);
$black-opacity-50: rgba(0, 0, 0, 0.5);
$black-opacity-20: rgba(0, 0, 0, 0.2);
$green-dark: #246241;
$green-light-1: #C2DECF;
$green-light-2: #DEF1E7;
$yellow-dark: #815D00;
$yellow-light: #FDE680;
$blue-dark: #39608E;
$blue-light-1: #C0DDFF;
$blue-light-2: #E2EEFC;