@use "../../utilites/variables" as *;
@use "../../utilites/mixins" as *;

.metrics {
  background: $black;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
  margin: 0 auto;
  padding: 1.6rem 24rem 9rem;
}

.metrics-text {
  @include flex(row, start, center, null);
  padding: 10.04rem;

  h2 {
    @include font(null, $h2-desctop, 600, 104%, -0.2rem, $white);
    max-width: 60rem;
  }

  span {
    color: $white-opacity-60;
  }
}

.metrics-brand {
  background: $white-opacity-8;
  border-radius: 4rem;
  @include flex(row, space-between, center, 5.6rem);
  padding: 6.4rem 5.6rem;
}

.metrics-brand-text {
  @include flex(column, space-between, flex-start, 2.4rem);

  h3 {
    @include font(null, $h3-desctop, 600, 104%, null, $white);
  }

  p {
    @include font(null, $regular-l, 400, 140%, null, $white-opacity-60);
  }
}

.metrics-list {
  @include flex(row, space-between, null, 1.6rem);
  flex-wrap: wrap;
}

.metrics-list-item {
  flex: 0 1 calc(50% - 0.8rem);
  background: $white-opacity-8;
  padding: 5.6rem 5.6rem 6.4rem 5.6rem;
  border-radius: 4rem;
  @include flex(column, space-between, null, 4rem);
}

.metrics-list-metric {
  @include font(null, $large-heading-desctop, 600, 104%, -0.2rem, $accent);
  padding-bottom: 3.2rem;
  border-bottom: 0.1rem solid $white-opacity-8;
}

.metrics-list-text-container {
  @include flex(column, space-between, flex-start, 0.8rem);

  h3 {
    @include font(null, $semibold-l, 600, 144%, null, $white);
  }

  p {
    @include font(null, $regular-l, 400, 144%, null, $white-opacity-60);
  }
}

.metrics-brand-image {
  padding: 3.9rem 0;
}

@media (max-width: 1240px) and (min-width: 834px) {
  .metrics {
    padding: 1.6rem 4.8rem 9rem;
  }

  .metrics-brand {
    @include flex(column, space-between, flex-start, 4rem);
  }

  .metrics-brand-image {
    padding: 5.5rem 0;

    img {
      width: 42rem;
    }
  }

  .metrics-text {
    @include flex(row, start, center, null);
    padding: 8rem 6.4rem;

    h2 {
      @include font(null, $h2-tablet, 600, 104%, null, $white);
      max-width: 52rem;
    }
  }

  .metrics-list-metric {
    @include font(null, $large-heading-tablet, 600, 104%, -0.2rem, $accent);
  }

  .metrics-brand-text {
    max-width: 40rem;

    h3 {
      @include font(null, $h3-tablet, 600, 104%, -0.2rem, $white);
    }
  }
}

@media (max-width: 833px) and (min-width: 393px) {
  .metrics {
    padding: 1.6rem 2.4rem 1.2rem;
  }

  .metrics-brand {
    padding: 4rem 2.4rem;
    @include flex(column, space-between, flex-start, 4rem);
  }

  .metrics-brand-image {
    padding: 3.9rem 0;

    img {
      width: 29rem;
    }
  }

  .metrics-text {
    @include flex(row, start, center, null);
    padding: 5.6rem 2.4rem;

    h2 {
      @include font(null, $h2-mobile, 600, 104%, null, $white);
      max-width: 30rem;
    }
  }

  .metrics-list-item {
    flex: 0 1 calc(100% - 1.2rem);
    padding: 3.2rem 2.4rem 4rem 2.4rem;
    @include flex(column, space-between, null, 4rem);
  }

  .metrics-list-metric {
    @include font(null, $large-heading-mobile, 600, 104%, -0.2rem, $accent);
  }

  .metrics-brand-text {
    max-width: 32rem;

    h3 {
      @include font(null, $h3-mobile, 600, 104%, null, $white);
    }
  }
}

@media (max-width: 392px) and (min-width: 300px) {
  .metrics {
    padding: 1.6rem 2.4rem 1.2rem;
  }

  .metrics-brand {
    padding: 4rem 2.4rem;
    @include flex(column, space-between, flex-start, 4rem);
  }

  .metrics-brand-image {
    padding: 3.9rem 0;

    img {
      width: 20rem;
    }
  }

  .metrics-text {
    @include flex(row, start, center, null);
    padding: 5.6rem 2.4rem;

    h2 {
      @include font(null, $h2-mobile, 600, 104%, null, $white);
      max-width: 30rem;
    }
  }

  .metrics-list-item {
    flex: 0 1 calc(100% - 1.2rem);
    padding: 3.2rem 2.4rem 4rem 2.4rem;
    @include flex(column, space-between, null, 4rem);
  }

  .metrics-list-metric {
    @include font(null, $large-heading-mobile, 600, 104%, -0.2rem, $accent);
  }

  .metrics-brand-text {
    max-width: 32rem;

    h3 {
      @include font(null, $h3-mobile, 600, 104%, null, $white);
    }
  }
}