@use "../../utilites/variables" as *;
@use "../../utilites/mixins" as *;

.metrics {
  background: $black;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
  margin: 0 auto;
  padding: 1.6rem 24rem 9rem;
}

.metrics-text {
  @include flex(row, start, center, null);
  padding: 10.04rem;

  h2 {
    @include font(null, $h2-desctop, 600, 104%, -0.2rem, $white);
    max-width: 60rem;
  }

  span {
    color: $white-opacity-60;
  }
}

.metrics-brand {
  background: $white-opacity-8;
  border-radius: 4rem;
  @include flex(row, space-between, center, 5.6rem);
  padding: 6.4rem 5.6rem;
}

.metrics-brand-text {
  @include flex(column, space-between, flex-start, 2.4rem);

  h3 {
    @include font(null, $h3-desctop, 600, 104%, -0.2rem, $white);
  }

  p {
    @include font(null, $regular-l, 400, 140%, null, $white-opacity-60);
  }
}

.metrics-list {
  @include flex(row, space-between, null, 1.6rem);
  flex-wrap: wrap;
}

.metrics-list-item {
  flex: 0 1 calc(50% - 0.8rem);
  background: $white-opacity-8;
  padding: 5.6rem 5.6rem 6.4rem 5.6rem;
  border-radius: 4rem;
  @include flex(column, space-between, null, 4rem);
}

.metrics-list-metric {
  @include font(null, $large-heading-desctop, 600, 104%, -0.2rem, $accent);
  padding-bottom: 3.2rem;
  border-bottom: 0.1rem solid $white-opacity-8;
}

.metrics-list-text-container {
  @include flex(column, space-between, flex-start, 0.8rem);

  h3 {
    @include font(null, $semibold-l, 600, 144%, null, $white);
  }

  p {
    @include font(null, $regular-l, 400, 144%, null, $white-opacity-60);
  }
}

.metrics-brand-image {
  padding: 3.9rem 0;
}