@use "../../utilites/variables" as *;
@use "../../utilites/mixins" as *;

.clients {
  background: $black;
  display: grid;
  grid-column: 1fr;
  gap: 1.6rem;
  margin: 0 auto;
  padding: 1.6rem 24rem 9rem;
  position: relative;
  z-index: 1;
}

.clients::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 52rem;
  background-image: url("../../images/gradient.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

.clients-wrapper {
  @include flex(row, space-between, stretch, 1.6rem);
}

.clients-text {
  display: flex;
  padding: 10.4rem;

  h2 {
    @include font(null, $h2-desctop, 600, 104%, -1.6rem, $white);
    max-width: 60rem;
  }

  span {
    color: $white-opacity-60
  }
}

.clients-left,
.clients-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.6rem;
}

.clients-item {
  @include flex(column, center, start, 1.6rem);
  background: $white-opacity-8;
  border-radius: 4rem;
  padding: 4.8rem 4rem;
}

.clients-person {
  @include flex(row, space-between, center, 1.6rem);
}

.clients-person-image {
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
  background: $green-light-1;
}

.clients-person-name {
  @include font(null, $semibold-l, 600, 144%, -1%, $white);
}

.clients-person-position {
  @include font(null, $regular-s, 400, 144%, -0.5%, $white-opacity-40);
}

.clients-item-about {
  @include font(null, $regular-l, 400, 144%, -0.5%, $white-opacity-60);
}

@media (max-width: 1240px) and (min-width: 834px) {
  .clients {
    padding: 1.6rem 4.8rem 9rem;
  }

  .clients-text {
    display: flex;
    padding: 8rem 6.4rem;
  
    h2 {
      font-size: $h2-tablet;
      max-width: 50rem;
    }
  }
}

@media (max-width: 833px) and (min-width: 393px) {
  .clients {
    padding: 1.6rem 2.4rem 9rem;
  }

  .clients::after {
    height: 28rem;
  }

  .clients-text {
    display: flex;
    padding: 5.6rem 2.4rem;
  
    h2 {
      font-size: $h2-mobile;
      max-width: 30rem;
    }
  }

  .clients-right {
    display: none;
  }

  .clients-item {
    padding: 3.2rem 2.4rem;
  }
}

@media (max-width: 393px) and (min-width: 300px) {
  .clients {
    padding: 1.6rem 2.4rem 9rem;
  }

  .clients::after {
    height: 20rem;
  }

  .clients-text {
    display: flex;
    padding: 3rem 1.4rem;
  
    h2 {
      font-size: $h4-mobile;
      max-width: 20rem;
    }
  }

  .clients-right {
    display: none;
  }

  .clients-item {
    padding: 2.2rem 1.4rem;
  }

  .clients-person-image {
    width: 3rem;
    height: 3rem;
  }

  .clients-person-name {
    font-size: $regular-s;
  }
  
  .clients-person-position {
    font-size: $regular-xs;
  }
  
  .clients-item-about {
    font-size: $regular-s;
  }
}