@use "../../utilites/variables" as *;
@use "../../utilites/mixins" as *;

@media (min-width: 200px) {
  .header-nav-burger {
    display: none;
  }
}

@media (max-width: 1024px) and (min-width: 834px) {
  .header-nav-burger {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: $black;
    z-index: 1000;
    @include flex(column, flex-start, null, null);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, visibility 0s 0.3s, transform 0.3s ease;
  }

  .header-nav-burger.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 2.4rem 9.6rem 4rem;
  }

  .close-burger {
    @include flex(row, center, center, null);
    @include button(rgba(255, 255, 255, 0.08), 1px solid rgba(255, 255, 255, 0.12), 10rem, 1.05rem, null, pointer);
  }

  .logo {
    @include flex(row, space-between, center, 1.6rem);

    p {
      @include font("Clash Display", 2rem, 500, null, null, $white);
      margin-top: 0.2rem;
    }
  }

  .burger-top {
    @include flex(row, space-between, center, null);
    margin-bottom: 10rem;
  }

  .burger-links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
    max-width: 65rem;
    margin-bottom: auto;

    li {
      @include font(null, $h4-desctop, 600, 135%, null, null);
      @include button($white-opacity-8, 1px solid $white-opacity-12, 10rem, 2rem 4.8rem 2.4rem, null, pointer);
      text-decoration: none;
      white-space: nowrap;
      width: max-content;
    }

    .burger-link {
      color: $white;
    }
  }

  .burger-footer {
    display: flex;
    align-items: center;

    a {
      padding: 1.6rem;
    }
  }
}

@media (max-width: 834px) and (min-width: 394px) {
  .header-nav-burger {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: $black;
    z-index: 1000;
    @include flex(column, flex-start, null, null);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, visibility 0s 0.3s, transform 0.3s ease;
  }

  .header-nav-burger.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 2.4rem 4.8rem 9.6rem;
  }

  .close-burger {
    @include flex(row, center, center, null);
    @include button(rgba(255, 255, 255, 0.08), 1px solid rgba(255, 255, 255, 0.12), 10rem, 1.05rem, null, pointer);
  }

  .logo {
    @include flex(row, space-between, center, 1.6rem);

    p {
      @include font("Clash Display", 2rem, 500, null, null, $white);
      margin-top: 0.2rem;
    }
  }

  .burger-top {
    @include flex(row, space-between, center, null);
    margin-bottom: 10rem;
  }

  .burger-links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.8rem;
    max-width: 34rem;
    margin-bottom: auto;

    li {
      @include font(null, $h4-mobile, 600, 135%, -0.1px, null);
      @include button($white-opacity-8, 1px solid $white-opacity-12, 10rem, 1.4rem 2.8rem 1.6rem, null, pointer);
      text-decoration: none;
      white-space: nowrap;
      width: max-content;
    }

    .burger-link {
      color: $white;
    }
  }

  .burger-footer {
    display: flex;
    align-items: center;

    a {
      padding: 1.6rem;
    }
  }
}

@media (max-width: 393px) {
  .header-nav-burger {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: $black;
    z-index: 1000;
    @include flex(column, flex-start, null, null);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, visibility 0s 0.3s, transform 0.3s ease;
  }

  .header-nav-burger.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 2.4rem 2.4rem 9.6rem;
  }

  .close-burger {
    @include flex(row, center, center, null);
    @include button(rgba(255, 255, 255, 0.08), 1px solid rgba(255, 255, 255, 0.12), 10rem, 1.05rem, null, pointer);
  }

  .logo {
    @include flex(row, space-between, center, 1.6rem);

    p {
      @include font("Clash Display", 2rem, 500, null, null, $white);
      margin-top: 0.2rem;
    }
  }

  .burger-top {
    @include flex(row, space-between, center, null);
    margin-bottom: 10rem;
  }

  .burger-links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.8rem;
    max-width: 34rem;
    margin-bottom: auto;

    li {
      @include font(null, $h4-mobile, 600, 135%, -0.1px, null);
      @include button($white-opacity-8, 1px solid $white-opacity-12, 10rem, 1.4rem 2.8rem 1.6rem, null, pointer);
      text-decoration: none;
      white-space: nowrap;
      width: max-content;
    }

    .burger-link {
      color: $white;
    }
  }

  .burger-footer {
    display: flex;
    align-items: center;

    a {
      padding: 1.6rem;
    }
  }
}